.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10em;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .emptyCart{
      display: flex;
      flex-flow: column;
  }
  #buttoninside{
      display: flex;
      justify-content: center;
  }
  .order{
    display: flex;
    justify-content: center;
    padding: 3em;
  }