<div *ngIf="books.length">
  <div class="grid" *ngFor="let book of books">
    <div>
      {{book.name}}
    </div>
    <div>
      <h2>Price : {{book.price}}</h2>
      <h2>Quantity : {{ bookQuantityMap[book.id]}}</h2>
      <div class="flex">  
        <div>
          <button class="button" (click)="removeFromCart(book.id)">Remove from cart</button>
        </div>
        <div>
          <button class="button" (click)="increaseQuantity(book.id)">+</button>
        </div>
        <div>
          <button class="button" (click)="decreaseQuantity(book.id)">-</button>
        </div>
      </div>
    </div>
  </div>
  <div class="order">
      <button class="button" (click)="makeOrder()">Make order</button>
  </div>
</div>
<div *ngIf="empty" class="emptyCart">
  <img src="https://pngimage.net/wp-content/uploads/2018/05/empty-cart-png.png" style="width: 60%; padding-left: 20%;"/>
  <div id="buttoninside">
    <button class="button" (click)="goShopping()">Go shopping</button>
  </div>
</div>