<div class="center">
  <div class="loginbuttion">
    <button id="loginInsideButton" (click)="login=true">Get the best</button>
  </div>
</div>
<div *ngIf="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div id="myModal" class="modal">
        <div class="modal-content">
            <main>
                <div>
                  <h2>Email</h2>
                </div>
                <div>
                  <input type="text" [(ngModel)]="mail" formControlName="email"/>
                </div>
                <div>
                  <h2>Password</h2>
                </div>
                <div>
                  <input type="password" formControlName="password"/>
                </div>
                <div>
                  <button class="button" type="submit" >Login</button>
                </div>
                <div>
                  <button class="button" (click)="login=false" >Cancel</button>
                </div>

               
            </main>
          </div>
      </div>
    </form>
</div>