#loginInsideButton{
  background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 16em;
}
.center{
  display: grid;
  justify-content: center;
  width: 100%;
  height : 35em;
  background-image: url('https://s26162.pcdn.co/wp-content/uploads/2018/12/11-bookstores-6-three-lives-2.w710.h473.2x.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
input{
    height: 50%;
    width: 30em;
}
.button:hover {opacity: 1}
.modal {
    display: block; 
    position: fixed; 
    z-index: 1;
    padding-top: 6em;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #e0e0d1;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
  }
  main {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 2em;
    padding: 2em;
  }