<div class="grid">
  <div class="image">
    {{book.name}}
  </div>
  <div>
   <h2>Author :  {{ book.author }} </h2>
  </div>
  <div>
    <h2>Publication :  {{ book.publication }} </h2>
  </div>
  <div>
    <h2>Available Quantity :  {{ book.availableQuantity }} </h2>
  </div>
  <div>
    <h2>Price :  {{ book.price }}</h2>
  </div>
  <div>
    <button class="button" (click)="visible=true">AddToCart</button>
    <p *ngIf="count!==0"> {{count}}</p>
  </div>
  <div *ngIf="visible">
    <div><button class="button" (click)="increaseCount()">+</button></div>
    <div *ngIf="count!==0"><button class="button" (click)="decreaseCount()">-</button></div>
  </div>
  <div>
    <button class="button" (click)="goToCart()">Go to Cart ></button>
  </div>
</div>
